doctype html
html(ng-app="webapp")
	head
		title= config.title
		base(href="/")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='/css/OFeeds-0.9.1.min.css')
		link(rel='stylesheet', href='/css/ofeeds.css')
	body