doctype html
html(ng-app="webapp")
	head
		title= config.title
		base(href="/")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/material.min.css')
		link(rel='stylesheet', href='/css/material-wfont.min.css')
		link(rel='stylesheet', href='/css/ripples.min.css')
		link(rel='stylesheet', href='/css/font-awesome.min.css', class='holderjs')
		link(rel='stylesheet', href='/css/ofeeds.css')
	body