script(type='text/javascript', src='/js/ofeeds.min.js')
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/services.js')
script(type='text/javascript', src='/js/navcontroller.js')
script(type='text/javascript', src='/js/panelcontroller.js')
script(type='text/javascript', src='/js/modalcontroller.js')
script(type='text/javascript', src='/js/overviewcontroller.js')
script(type='text/javascript', src='/js/dashboardcontroller.js')