script(type='text/javascript', src='/js/jquery-1.8.3.min.js')
script(type='text/javascript', src='/js/bootstrap.min.js')
script(type='text/javascript', src='/js/material.min.js')
script(type='text/javascript', src='/js/ripples.min.js')
script(type='text/javascript', src='/js/angular.js')
script(type='text/javascript', src='/js/angular-route.min.js')
script(type='text/javascript', src='/js/angular-resource.min.js')
script(type='text/javascript', src='/js/angular-sanitize.min.js')
script(type='text/javascript', src='/js/typeahead.bundle.min.js')
script(type='text/javascript', src='/js/bloodhound.min.js')
script(type='text/javascript', src='/js/ng-infinite-scroll.min.js')
script(type='text/javascript', src='/js/jquery-scrollto.js')
script(type='text/javascript', src='/js/mousetrap.min.js')
script(type='text/javascript', src='/js/ofeeds.js')