script(type='text/javascript', src='/js/ofeeds-0.9.0.js')
script(type='text/javascript', src='/js/ng-infinite-scroll.min.js')
script(type='text/javascript', src='/js/jquery.scrollTo.min.js')
script(type='text/javascript', src='/js/mousetrap.min.js')
script(type='text/javascript', src='/js/layzr.min.js')
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/ofeeds.js')
script(type='text/javascript', src='/js/navcontroller.js')
script(type='text/javascript', src='/js/panelcontroller.js')
script(type='text/javascript', src='/js/modalcontroller.js')