script(type='text/javascript', src='/js/jquery-1.11.0.min.js')
script(type='text/javascript', src='/js/socket.io.min.js')
script(type='text/javascript', src='/js/bootstrap.min.js')
script(type='text/javascript', src='/js/underscore-min.js')
script(type='text/javascript', src='/js/backbone-min.js')
script(type='text/javascript', src='/js/typeahead.bundle.min.js')
script(type='text/javascript', src='/js/numeral.min.js')
//- script(type='text/javascript', src='/js/periphery.js')