nav.navbar.navbar-static-top.navbar-default
	.container(ng-controller="AppNav")
		.navbar-header
			a.navbar-brand(ng-href='/') OFeeds
		.navbar-collapse.collapse
			if user
				form.navbar-form.navbar-left(ng-submit="sbmt()")
					.form-controller-wrapper
						input.form-control#nrss(type='text',placeholder='Search for feed url')
						span.material-input
				ul.nav.navbar-nav.navbar-right
					li 
						a(href='')
							i.fa.fa-fw.fa-power-off
							| Logout
			else
				ul.nav.navbar-nav.navbar-right
					li.dropdown
						a.dropdown-toggle(href='',data-toggle='dropdown')
							i.fa.fa-fw.fa-user
							| Log in
							span.caret
						ul.dropdown-menu
							li
								a(href='/auth/google',target="_self")
									i.fa.fa-google-plus.fa-fw
									| Google+