.col-md-3#menu(ng-controller="navController")
	ul#sidebar-header
		li.withripple(ng-class="isActive('/') ? 'active' : ''",data-target="/")
			a(href="/")
				i.fa.fa-home.fa-fw(style="width:32px;margin-right:15px")
				| Home
	#sidebar-body(style="overflow:scroll;overflow-x:hidden;overflow-y:auto")
		div(ng-if="!subs")
			include ../elements/loading
		ul(ng-Ripple="{{subs.length}}")
			li.withripple(ng-if="subs && subs.length <= 0")
				a(href="#") No feeds
			li.withripple(ng-repeat="feed in subs", ng-class="{'active':isActive(feed.url)}", data-target="/subscription/feed/{{feed.id}}") 
				a(href="#")
					.pull-left(style="width:32px;height:16px;margin-right:15px")
						img(ng-if="feed.favicon", ng-src="{{feed.favicon}}", style="height:100%")
						i.fa.fa-fw.fa-bookmark(ng-if="!feed.favicon")
					.text-overflow {{feed.title}}
						span.badge.pull-right {{feed.unreadcount}}