.col-xs-3#menu(ng-controller="navController")
	ul
		li.withripple(ng-class="isActive('/') ? 'active' : ''",data-target="/")
			a(href="/")
				i.fa.fa-home.fa-fw(style="width:32px;margin-right:15px")
				| Home
	hr
	div(ng-if="!subs")
		include ../templates/loading
	ul(ng-Ripple="{{subs.length}}")
		li.withripple(ng-if="subs && subs.length <= 0")
			a(href="#") No feeds
		li.withripple(ng-repeat="s in subs", ng-class="{'active':isActive(s.url)}", data-target="/subscription/feed/{{s.id}}") 
			a(href="#")
				.pull-left(style="width:32px;height:16px;margin-right:15px")
					img(ng-if="s.favicon", ng-src="{{s.favicon}}", style="height:100%")
					i.fa.fa-fw.fa-bookmark(ng-if="!s.favicon")
				.text-overflow {{s.title}}
	hr
	ul
		li.withripple(ng-class="isActive('/manage') ? 'active' : ''",data-target="/manage")
			a(href="/manage")
				i.fa.fa-bar-chart.fa-fw(style="width:32px;margin-right:15px")
				| Management
	hr
	ul
		li.withripple(data-target="https://github.com/projectgheist/ofeeds")
			a(href="https://github.com/projectgheist/ofeeds",target="_blank")
				i.fa.fa-github.fa-fw(style="width:32px;margin-right:15px")
				| View on Github
		if user
			li.withripple
				a(href="#") Settings
			li.withripple
				a(href="#") Logout
		else
			li.withripple
				a(href="/auth/google", target="_self")
					i.fa.fa-google-plus.fa-fw(style="width:32px;margin-right:15px")
					| &nbsp;Sign in