.col-md-3#menu(ng-controller="navController")
	ul#sidebar-header
		li.withripple(ng-class="isActive('/') ? 'active' : ''",data-target="/")
			a(href="/")
				i.fa.fa-home.fa-fw(style="width:32px;margin-right:15px")
				| Home
		li.withripple(ng-class="isActive('/manage') ? 'active' : ''",data-target="/manage")
			a(href="/manage")
				i.fa.fa-bar-chart.fa-fw(style="width:32px;margin-right:15px")
				| Management
	#sidebar-body(style="overflow:scroll;overflow-x:hidden;overflow-y:auto")
		div(ng-if="!subs")
			include ../elements/loading
		ul(ng-Ripple="{{subs.length}}")
			li.withripple(ng-if="subs && subs.length <= 0")
				a(href="#") No feeds
			li.withripple(ng-repeat="s in subs", ng-class="{'active':isActive(s.url)}", data-target="/subscription/feed/{{s.id}}") 
				a(href="#")
					.pull-left(style="width:32px;height:16px;margin-right:15px")
						img(ng-if="s.favicon", ng-src="{{s.favicon}}", style="height:100%")
						i.fa.fa-fw.fa-bookmark(ng-if="!s.favicon")
					.text-overflow {{s.title}}
						span.badge.pull-right {{s.unreadcount}}
	ul#sidebar-footer(style="width:100%;position:static;bottom:0;left:0;margin-top:10px")
		li.withripple(data-target="https://github.com/projectgheist/ofeeds")
			a(href="https://github.com/projectgheist/ofeeds",target="_blank")
				i.fa.fa-github.fa-fw(style="width:32px;margin-right:15px")
				| View on Github
		if user
			li.withripple
				a(href="#")
					i.fa.fa-cog.fa-fw(style="width:32px;margin-right:15px")
					| Settings
			li.withripple
				a(href="#")
					i.fa.fa-sign-out.fa-fw(style="width:32px;margin-right:15px")
					| Logout
		else
			li.withripple
				a(href="/auth/google", target="_self")
					i.fa.fa-google-plus.fa-fw(style="width:32px;margin-right:15px")
					| &nbsp;Sign in