.col-md-3#menu(ng-controller="navController")
	ul#sidebar-header
		li.withripple(ng-class="isActive('/') ? 'active' : ''",data-target="/")
			a(href="/")
				i.fa.fa-home.fa-fw(style="width:32px;margin-right:15px")
				| Home
		li.withripple(ng-class="isActive('/manage') ? 'active' : ''",data-target="/manage")
			a(href="/manage")
				i.fa.fa-bar-chart.fa-fw(style="width:32px;margin-right:15px")
				| Management
	#sidebar-body(style="overflow:scroll;overflow-x:hidden;overflow-y:auto")
		div(ng-if="!subs")
			include ../elements/loading
		ul(ng-Ripple="{{subs.length}}")
			li.withripple(ng-if="subs && subs.length <= 0")
				a(href="#") No feeds
			li.withripple(ng-repeat="s in subs", ng-class="{'active':isActive(s.url)}", data-target="/subscription/feed/{{s.id}}") 
				a(href="#")
					.pull-left(style="width:32px;height:16px;margin-right:15px")
						img(ng-if="s.favicon", ng-src="{{s.favicon}}", style="height:100%")
						i.fa.fa-fw.fa-bookmark(ng-if="!s.favicon")
					.text-overflow {{s.title}}
						span.badge.pull-right {{s.unreadcount}}