li(style="height:24px")
	.textfit(ng-textfit='false')
		a(href="{{feed.url}}")
			.pull-left
				i.fa.fa-fw.fa-bookmark(ng-if="!feed.favicon")
				img(ng-if="feed.favicon", ng-src="{{feed.favicon}}")
			| {{feed.title}}
			span.badge.pull-right {{feed.unreadcount}}