li
	a.media(href="{{feed.url}}")
		.media-left
			img.media-object(ng-if="feed.favicon", ng-src="{{feed.favicon}}", style='width: 21px; height: 21px')
			i.fa.fa-fw.fa-bookmark(ng-if="!feed.favicon")
		.media-body
			span(ng-textfit='', ng-tt-max-font=24, style='height: 32px') {{feed.title}}