.media.withripple(ng-repeat="feed in subs",ng-class="{'active':isActive(feed.url)}",data-target="/feed/{{feed.id}}")
	.media-left
		a(href='#')
			img.media-object(ng-if="feed.favicon", ng-src="{{feed.favicon}}", style='width: 21px; height: 21px')
			i.fa.fa-fw.fa-bookmark(ng-if="!feed.favicon")
	.media-body
		span.badge.pull-right {{feed.unreadcount}}
		span(ng-textfit='', ng-tt-max-font=24, style='height:32px') {{feed.title}}