.embed-responsive.embed-responsive-16by9(ng-controller='videoCtrl as ctrl')
	videogular.embed-responsive-item(vg-theme='ctrl.theme', vg-autoplay='false')
		vg-media(vg-src='ctrl.sources', vg-youtube='rel=1;showinfo=1')
		vg-controls(vg-autohide='false')
			vg-play-pause-button
			vg-timedisplay
			vg-scrubBar
				vg-scrubbarcurrenttime
			vg-timedisplay
			vg-volume
				vg-mutebutton
				vg-volumebar
			vg-fullscreenButton
			vg-buffering
			vg-overlay-play
