include includes/header
.container-fluid#m(ng-controller="AppFeeds")
	.row
		.hidden-xs.hidden-sm.col-md-3(style='position:fixed;padding:0;height:100%')
			nav.navbar#hdr(style='margin-bottom:0')
				.container(style='width:100%')
					.navbar-header
						a.navbar-brand(ng-href='/')
							i.fa.fa-rss.fa-fw.fa-flip-horizontal
							| OFeeds
			.well(style='height:100%')
				form
					.form-group
						.form-control-wrapper
							input.input-lg.form-control.typeahead#nrss(type="text",placeholder='example.feed.com/rss') 
							span.material-input
				.list-group
					a.list-group-item(href="/subscription/user/reading-list",ng-class="{active:isActive('/state/-/reading-list')}",id='All')
						i.fa.fa-fw.fa-bars
						| All
					.line-separator
					a.list-group-item.text-overflow(href="/subscription/{{sub.id}}",ng-class="{active: isActive('{{sub.id}}')}",ng-repeat="sub in subs")
						i.fa.fa-bookmark-o.fa-fw
						| {{sub.title}}
					.line-separator
			nav.navbar#ftr(style='position:fixed;bottom:0;margin-bottom:0')
				.container(style='width:100%')
					.navbar-collapse.collapse
						ul.nav.navbar-nav
							li
								a(href='/logout',target="_self")
									i.fa.fa-fw.fa-power-off
									| Logout		
		.col-xs-12.col-md-offset-3.col-md-9#map(ng-controller="AppStream",resize='')
			div(ng-view='')
				p Loading...
include includes/js