include includes/header
.container-fluid(ng-controller="panelController",style="overflow:hidden")
	.row
		.col-xs-3#menu(ng-controller="navController")
			hr
			div(ng-if="!subs")
				include templates/loading
			ul(ng-Ripple="{{subs.length}}")
				li.withripple(ng-if="subs && subs.length <= 0")
					a(href="#") No feeds
				li.withripple(ng-repeat="s in subs", ng-class="isActive(s.url) ? 'active' : ''", data-target="{{s.url}}") 
					a.text-overflow(href="{{s.url}}")
						img(ng-if="s.favicon", src="{{s.favicon}}", width="32", style="margin-right:15px")
						i.fa.fa-fw.fa-bookmark(ng-if="s.favicon === ''", style="margin-right:15px")
						| {{s.title}}
			hr
			ul
				li.withripple
					a(href="https://github.com/projectgheist/ofeeds",target="_blank")
						i.fa.fa-github.fa-fw
						| View on Github
				if user
					li.withripple
						a(href="#") Settings
					li.withripple
						a(href="#") Logout
				else
					li.withripple
						a(href="/auth/google", target="_self")
							i.fa.fa-google-plus.fa-fw
							| &nbsp;Sign in
		#panel(ng-class="isNavVisible() ? 'col-xs-9' : 'col-xs-12'", style="padding:0")
			.navbar.navbar-default(ng-class="stream !== undefined ? 'no-margin' : ''")
				.container-fluid
					.navbar-header
						ul.nav.navbar-nav
							li
								a(href="#", ng-click='nt()')
									i.fa.fa-align-justify.fa-fw
						button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
					.collapse.navbar-collapse
						form.navbar-form.navbar-left
							.form-control-wrapper
								input.form-control.typeahead#nrss(type="text",placeholder="Fetch a feed")
						ul.nav.navbar-nav.navbar-right
							li
								a(href="#")
									i.fa.fa-ellipsis-v.fa-fw
			.row(ng-if="stream !== undefined")
				.col-lg-12
					.well
						table.table-condensed
							thead
								tr
									td.col-xs-4
							tbody
								tr
									td URL
									td 
										a.text-overflow(href="{{stream.feedURL}}", target="_blank") {{stream.feedURL}}
								tr
									td Updated
									td {{stream.updated}}
								tr
									td Visible articles
									td {{stream.items.length}}
			div(ng-view="")
	.modal.fade#myModal(ng-controller="modalController", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type="button", data-dismiss="modal", aria-label="Close")
						span(aria-hidden="true") &times;
					h4.modal-title {{title}}
				.modal-body
					.carousel.slide#carousel-example-generic(data-ride="carousel")
						ol.carousel-indicators(ng-if="images.length > 1")
							li(ng-repeat="a in images", data-target="#carousel-example-generic", data-slide-to="{{$index}}", ng-class="{active: $first}")
						.carousel-inner(role="listbox")
							.item(ng-repeat="i in images", ng-class="{active: $first}")
								img(ng-src="{{i.url}}", style="width:100%")
						a.left.carousel-control(href="#carousel-example-generic", role="button", data-slide="prev", ng-if="images.length > 1")
							span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
							span.sr-only Previous
						a.right.carousel-control(href="#carousel-example-generic", role="button", data-slide="next", ng-if="images.length > 1")
							span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
							span.sr-only Next
include includes/js