include includes/header
.container(ng-controller="AppStream")
	.v-offset
		.row
			.col-xs-offset-1.col-xs-10.col-md-offset-3.col-md-6
				.jumbotron
					.text-center
						h1(style="margin-left:-20px")
							i.fa.fa-rss.fa-fw.fa-flip-horizontal
							| ofeeds
						p A minimal RSS reader in Node.js
						p
							a.github-button(href="https://github.com/projectgheist/ofeeds",data-count-href="/projectgheist/ofeeds/stargazers",data-count-api="/repos/projectgheist/ofeeds#stargazers_count") Star
							| &nbsp;
							a.github-button(href="https://github.com/projectgheist/ofeeds",data-count-href="/projectgheist/ofeeds/network",data-count-api="/repos/projectgheist/ofeeds#forks_count") Fork
							| &nbsp;
							a.github-button(href="https://github.com/projectgheist",data-count-href="/projectgheist/followers",data-count-api="/users/projectgheist#followers") Follow @projectgheist
							script(async,defer,id="github-bjs",src="https://buttons.github.io/buttons.js")
				.row
					.col-xs-12.col-lg-5
						form.center-block
							.form-group
								a.btn.btn-primary.btn-lg.btn-block.btn-danger(href='/auth/google',target="_self") Sign in with
									i.fa.fa-google-plus.fa-fw
					.col-xs-12.col-lg-1
						.lead.text-center(style='margin-top:20px')
							p -&nbsp;OR&nbsp;-
					.col-xs-12.col-lg-6(ng-controller="AppStream")
						form(style='margin-top:17px')
							.form-group
								.form-control-wrapper
									input.input-lg.form-control.typeahead#nrss(type="text",placeholder='Fetch a feed (example.feed.com/rss)')
									span.material-input
		.row
			.col-xs-12#map(resize='')
				div(ng-view='')
include includes/js