include includes/header
div(ng-controller="AppFeeds")
	include manage-nav
	#mah
	.container-fluid#map
		.row
			.col-xs-12
				table.table.table-striped.table-hover
					thead
						tr
							th Icon
							th Name
							th Posts
							th Crawl time
							th Update time
							th.text-center Action
					tbody
						tr(ng-repeat='f in subs',ng:class="{true:'', false:'danger'}[f.crawlSuccesful]")
							td
								i.fa.fa-bookmark-o.fa-fw
							td.col-xs-4
								input.form-control(type="text",value="{{f.title}}",style='background-color:transparent')
							td.text-center {{f.postCount}}
							td
								i.fa.fa-fw(ng:class="{true:'fa-check', false:'fa-times'}[f.crawlSuccesful]")
								| {{f.crawlFormatTime}}
								br
								| ({{f.crawlUpdate}})
							td(ng-if="f.time === undefined")
								| {{f.updated}}
							td(ng-if="f.time !== undefined")
								| {{f.date}}
								br
								| {{f.time}}
							td.col-xs-4.text-center
								a.btn.btn-primary(href="{{f.url}}",target="_blank") View
								button.btn.btn-primary(type="button",ng-click="rfrsh(f.id)") Refresh
								if user !== undefined && user.isAdmin
									button.btn.btn-primary(type="button") Remove
include includes/js