include includes/header
.container-fluid#m(ng-controller="AppFeeds")
	.row
		nav.navbar.navbar-default
			.navbar-header
				a.navbar-brand(href='#')
					i.fa.fa-bookmark-o.fa-fw
					| {{config.title}}
			.collapse.navbar-collapse
				ul.nav.navbar-nav
	.row
		.col-xs-12
			h1 Feeds
			table.table.table-striped.table-hover
				thead
					tr
						th Icon
						th Name
						th Crawl time
						th Update time
						th Action
				tbody
					tr(ng-repeat='f in subs')
						td 
							i.fa.fa-bookmark-o.fa-fw
						td
							input.form-control(type="text",value="{{f.title}}")
						td {{f.crawlTime}}
						td {{f.updated}}
						td
							.btn-group
								button.btn.btn-default(type="button") Refresh
								button.btn.btn-default(type="button") Remove
include includes/js