include includes/header
.container-fluid#m(ng-controller="panelController")
	.row
		.col-xs-3#menu(ng-controller="navController")
			a(href="https://github.com/projectgheist/ofeeds",target="_blank")
				i.fa.fa-github.fa-fw.fa-4x 
				| View on Github
			hr
			ul.nav.nav-pills.nav-stacked
				li(ng-repeat="s in subs", ng-class="isActive(s.url) ? 'active' : ''")
					a(ng-href="{{s.url}}") {{s.title}}
				li(ng-if="!subs")
					a(ng-href="#") No feeds
			hr
			ul.nav.nav-pills.nav-stacked
				if user
					li 
						a(href="#") Settings
					li 
						a(href="#") Logout
				else
					li
						a(href="/auth/google", target="_self")
							i.fa.fa-google-plus.fa-fw
							| &nbsp;Sign in
		#panel(ng-class="isNavVisible() ? 'col-xs-9' : 'col-xs-12'")
			.row
				.col-md-1
					h4.text-center
						i.fa.fa-align-justify.fa-fw(ng-click='nt()')
				.col-md-11
					form.navbar-form
						.form-control-wrapper
							input.form-control.typeahead#nrss(type="text",placeholder="Fetch a feed",style="width:100%;background-color:transparent;")
						span.material-input
			.row(ng-controller="overviewController")
				.col-lg-12
					table.table.table-striped.table-hover
						thead
							tr
								th Icon
								th Name
								th Posts
								th Crawl time
								th Update time
								th.text-center Action
						tbody
							tr(ng-repeat='f in subs',ng:class="{true:'', false:'danger'}[f.crawlSuccesful]")
								td
									i.fa.fa-bookmark-o.fa-fw
								td.col-xs-4
									input.form-control(type="text",value="{{f.title}}",style='background-color:transparent')
									//--br
									//--input.form-control(type="text",value="{{f.feedURL}}",style='background-color:transparent')
								td.text-center {{f.postCount}}
								td
									i.fa.fa-fw(ng:class="{true:'fa-check', false:'fa-times'}[f.crawlSuccesful]")
									| {{f.crawlFormatTime}}
									br
									| ({{f.crawlUpdate}})
								td(ng-if="f.time === undefined")
									| {{f.updated}}
								td(ng-if="f.time !== undefined")
									| {{f.date}}
									br
									| {{f.time}}
								td.col-xs-4.text-center
									a.btn.btn-primary(href="{{f.url}}",target="_blank") View
									button.btn.btn-primary(type="button",ng-click="rfrsh(f.id)") Refresh
									if user !== undefined && user.isAdmin
										button.btn.btn-primary(type="button") Remove
include includes/js