.v-offset {
	margin-top: 7%;
}

.v-offset-half {
	margin-top: 3%;
}

.text-center {
	text-align: center;
}
.table>tbody>tr>td {
    vertical-align: middle;
}
/* webkit solution */
.text-center ::-webkit-input-placeholder { 
	text-align: center; 
}
/* mozilla solution */
.text-center input:-moz-placeholder { 
	text-align: center; 
}

.line-separator {
	margin: 10px 0;
	border-bottom: 1px solid rgba(0,0,0,.12);
}

.form-group.input-group  {
	margin-top: 5px;
	margin-bottom: 5px;
}

.panel > .table-bordered > thead > tr > th {
	background-color:#f5f5f5;
}

.container-full {
	margin: 0 auto;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.vertical-image, .horizontal-image {
	position:relative;
}

.vertical-image {
	width:100%;
}

.horizontal-image {
	height:100%;
}

.rotate_text_90 {
	-moz-transform:rotate(-90deg); 
	-moz-transform-origin: top left;
	-webkit-transform: rotate(-90deg);
	-webkit-transform-origin: top left;
	-o-transform: rotate(-90deg);
	-o-transform-origin:  top left;
	position:relative;
	top:10em;
	left:-107px;
	height:140px;
	white-space:nowrap;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
	backface-visibility:         hidden; 
	max-width:14px;
}

#ma {
	top:0;
	z-index: 10;
}

.list-group-item {
	margin: 20px 0;
}

.list-group-item.active {
	color: #428bca;
}

.well > .list-group {
	margin-bottom: 0;
}

.article-content img {
	max-width:100%;
	height: auto;
	max-height:768px;
	/* center image */
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.article p {
	margin: 0;
}
.article .read {
	background-color: #D5D5D5;
}
.article .line-separator {
	margin: 7px 0;
}

.text-overflow {
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}

/* Side notes for calling out things
-------------------------------------------------- */
 
/* Base styles (regardless of theme) */
.bs-callout {
	margin: 20px 0;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid red;
}
hbinclude .bs-callout {
	margin: 0;
}
.bs-callout h4 {
	margin-top: 0;
}
.bs-callout-danger h4 {
	color: #B94A48;
}
.bs-callout-warning h4 {
	color: #C09853;
}
.bs-callout-info h4 {
	color: #3A87AD;
}
.bs-callout p:last-child {
	margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
	background-color: #fff;
}
/* Themes for different contexts */
.bs-callout-primary {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
}
.bs-callout-danger {
	background-color: #fcf2f2;
	border-color: #dFb5b4;
}
.bs-callout-warning {
	background-color: #fefbed;
	border-color: #f1e7bc;
}
.bs-callout-info {
	background-color: #f0f7fd;
	border-color: #d0e3f0;
}
.bs-callout-success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

/**
 * bottom align elements in Bootstrap
 */
.pull-bottom {position:absolute; bottom:0;  margin-bottom:7px; left: 0;}
.pull-bottom-right {position:absolute; bottom:0;  margin-bottom:7px; margin:7px; right: 0;}
.pull-bottom-left {position:absolute; bottom:0;  margin-bottom:7px; left: 100px;}
  
/**
 * typeahead
 */
.twitter-typeahead{
	width:100%;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
	margin-bottom: 0;
}
.tt-dropdown-menu {
	min-width: 160px;
	margin-top: 2px;
	padding: 5px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.2);
	*border-right-width: 2px;
	*border-bottom-width: 2px;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
		    border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	   -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
		    box-shadow: 0 5px 10px rgba(0,0,0,.2);
	-webkit-background-clip: padding-box;
	   -moz-background-clip: padding;
		    background-clip: padding-box;
	width:100%;        
}

.tt-suggestion {
	display: block;
	padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
	color: #fff;
	background-color: #0081c2;
	background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
	background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
	background-image: -o-linear-gradient(top, #0088cc, #0077b3);
	background-image: linear-gradient(to bottom, #0088cc, #0077b3);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
	color: #fff;
}

.tt-suggestion p {
	margin: 0;
}

/**
 * pace
 */
.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}
.pace-inactive {
  display: none;
}