.col-xs-12
	.row(ng-click="toggle(post)",ng-class="{'read':isRead(post)}",style='padding: 10px 0')
		.col-lg-2(ng-if="!stream || stream.showOrigin")
			a(href="{{post.origin.url}}",style="width:100%;height:32px")
				.label.label-primary(style="width:100%;height:21px;display:inline-block",ng-Textfit='false') {{post.origin.title}}
		.col-xs-9(ng-class="{'col-lg-7':(!stream || stream.showOrigin)}")
			p(style="height:21px",ng-Textfit='') {{post.title}}
		.col-xs-3
			p.text-right {{post.formatted}}