.col-xs-12
	.row
		.col-xs-6
			.well
				h2 Recommended
				hr
				div(ng-if="!pf")
					include loading
				ul.list-unstyled(ng-repeat='feed in pf')
					li 
						a(href="{{feed.url}}") 
							img(src="{{feed.favicon}}", ng-if="feed.favicon", width="32", style="margin-right:15px")
							i.fa.fa-fw.fa-bookmark(ng-if="!feed.favicon", style="width:32px;margin-right:15px")
							| {{feed.title}}
						span.pull-right {{feed.creation}}
		.col-xs-6
			.well
				h2 Recently added
				hr
				div(ng-if="!rf")
					include loading
				ul.list-unstyled(ng-repeat='feed in rf')
					li 
						a(href="{{feed.url}}") 
							img(src="{{feed.favicon}}", ng-if="feed.favicon", width="32", style="margin-right:15px")
							i.fa.fa-fw.fa-bookmark(ng-if="!feed.favicon", style="width:32px;margin-right:15px")
							| {{feed.title}}
						span.pull-right {{feed.creation}}
	.row
		.col-xs-12
			h2 Recent
			hr
			div(ng-if="!rp")
				include loading
			.panel.panel-default(ng-repeat='post in rp')
				.panel-heading
					.row
						.col-xs-4
							.text-overflow
								a(href="{{post.origin.url}}") 
									img(src="{{post.origin.favicon}}", ng-if="post.origin.favicon", width="32", style="margin-right:15px")
									i.fa.fa-fw.fa-bookmark(ng-if="!post.origin.favicon", style="width:32px;margin-right:15px")
									| {{post.origin.title}}
						.col-xs-8
							.text-overflow
								a(href="{{post.alternate.href}}",target="_blank") {{post.title}}
							span(ng-if="post.author")
								a(href="#") {{post.author}} 
								| &nbsp;·
							| &nbsp;{{post.published}}
				.panel-body
					.col-xs-4(style="height:190px;overflow:hidden")
						img(ng-src="{{post.content.images.other[0].url}}",data-layzr="{{post.content.images.other[0].url}}",holderjs='')
					.col-xs-8
						div(ng-bind-html="post.content.summary")