.article.article-sm(ng-repeat="post in stream.items")
	.row
		a(href='{{post.alternate.href}}',target="_blank")
			.col-xs-9
				| {{post.title}}
			.col-xs-3(style="text-align:right")
				| {{post.published}}
	hr			
	