.col-lg-4
	.panel.panel-default
		.panel-heading(style="height:190px")
			img(ng-src="{{post.content.images.other[post.content.images.large].url}}",class='{{post.content.images.cssclass}}',holderjs='',style='width:100%;height:auto')
		.panel-body(style="height:190px")
			a(href='{{post.alternate.href}}',target='_blank') {{post.title}}