.article.article-lg.bs-callout
	.row
		.col-xs-12
			h2 Article title
				small.pull-right Publication time
	hr
	.row
		.col-xs-8
			p 
				a(href="#") [Feed subscription]
				| &nbsp;by [Author name]
		.col-xs-4
			.btn-group.pull-right
				button.btn.btn-default Unread
				.btn-group
					button.btn.btn-default Share
					button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
						span.caret
						span.sr-only Toggle Dropdown
					ul.dropdown-menu
						li
							a(href="#") Twitter
						li
							a(href="#") Facebook
						li.divider
						li
							a(href="#") Email