//- Renders the panel text
mixin PanelText()
	.panel-text.bottom
		h3
			.textfit(ng-textfit='false',style="max-height:48px")
				a(href='/post/{{post.uid}}') {{post.title}}
		p
			span(ng-if="post.author")
				| by&nbsp;
				a(href="#") {{post.author}} 
				| ·&nbsp;
			| {{post.formatted}}

//- Default post layout
.panel-post(ng-if="!post.content.videos.length")
	.panel.panel-default
		.panel-label
			if user
				span.label.label-primary(ng-if="!post.read") Unread
			else
				span.label.label-primary(ng-if="!post.read") New
		.panel-heading
			h4
				a(href='#')
					i.fa.fa-tag
					| &nbsp;{{post.origin.title}}
		.panel-image
			img(data-layzr="{{post.content.images.other[0].url}}",holderjs='')
		mixin PanelText()
//- Video/multimedia post layout
.panel-post(ng-if="post.content.videos.length")
	.panel.panel-default
		.panel-heading
			h4
				a(href='#')
					i.fa.fa-tag
					| &nbsp;{{post.origin.title}}
		.panel-label
			if user
				span.label.label-primary(ng-if="!post.read") Unread
			else
				span.label.label-primary(ng-if="!post.read") New
			| &nbsp;
			span.label.label-primary Video
		.panel-image
			img(data-layzr="{{post.content.images.other[0].url}}",holderjs='')
			i.fa.fa-youtube-play.fa-fw.fa-5x(style="position:absolute;top:30%;left:0;right:0;margin-left:auto;margin-right:auto")
		mixin PanelText()