.col-lg-4
	.panel.panel-default
		.panel-label
			if user
				span.label.label-primary(ng-if="!post.read") Unread
			else
				span.label.label-primary(ng-if="!post.read") New
		.panel-image(ng-repeat='image in post.content.images.other',ng-click="showModal(post.uid)")
			img(data-layzr="{{image.url}}",holderjs='')
		.panel-image(ng-if="post.content.images.other.length <= 0")
			img(holderjs='')
		.panel-text
			p
				span(ng-if="post.author")
					a(href="#") {{post.author}} 
					| ·&nbsp;
				| {{post.formatted}}
			hr
			h3(style="height:52px",ng-textfit='')
				a(href='{{post.alternate.href}}',target='_blank') {{post.title}}