.row
	.col-xs-6
		h2 Recommended
	.col-xs-6
		h2 Recently added
		ul(ng-repeat='feed in recent')
			li 
				a(href="{{feed.url}}") 
					img(src="{{feed.favicon}}", width="32", style="margin-right:15px")
					| {{feed.title}}
.row
	.col-xs-12
		h2 Most popular
