.col-xs-12
	.row(ng-click="toggle(post)",ng-class="{'read':isRead(post)}",style='padding: 10px 0')
		.col-lg-2(ng-if="!stream || stream.showOrigin")
			a(href="{{post.origin.url}}") 
				span.label.label-primary {{post.origin.title}}
		.col-xs-9(ng-class="{'col-lg-7':(!stream || stream.showOrigin)}")
			p.text-overflow {{post.title}}
		.col-xs-3
			p.text-right {{post.formatted}}