.col-lg-4
	.panel.panel-default
		.panel-body(style="height:275px")
			.panel-image
				img(ng-src="{{post.content.images.other[post.content.images.large].url}}",width='{{post.content.images.other[post.content.images.large].width}}',height='{{post.content.images.other[post.content.images.large].height}}',holderjs='')
			a(href='{{post.alternate.href}}',target='_blank') {{post.title}}
			p.small by {{post.author}} at {{post.formatted}}