div(infinite-scroll='loadMore()',infinite-scroll-distance='2')
	.article(ng-repeat='post in stream.items',ng-include='post.template',on-last-repeat='')
.row(ng-if="stream.items.length <= 0")
	.col-xs-12
		.well
			h1 Feed/stream doesn't contain any articles!
.row(ng-if="eof")
	.col-xs-12
		.well
			h1 End of feed/stream reached!