.col-xs-4
	h3.text-overflow 
		a(href='{{post.alternate.href}}',target='_blank') {{post.title}}
	h4 {{post.published}} &nbsp;//&nbsp;
		a(href='#') Expand post
.col-xs-2
	a(href='{{post.alternate.href}}',target='_blank')
		img(ng-src="{{post.content.images.small}}",style="max-width:100%;height:auto;margin-bottom:10px;")
.line-separator(ng-if="$odd")
	.row