.col-xs-12
	.row
		.col-xs-6
			.well
				h2 Recommended
				small Number of subscribers / Alphabetical
				hr
				div(ng-if="!pf")
					include loading
				ul.list-unstyled(ng-repeat='feed in pf')
					li 
						a(href="{{feed.url}}") 
							.pull-left(style="width:32px;height:16px;margin-right:15px")
								img(ng-src="{{feed.favicon}}", ng-if="feed.favicon", style="height:100%")
								i.fa.fa-fw.fa-bookmark(ng-if="!feed.favicon")
							ng-Textoverflow {{feed.title}}
		.col-xs-6
			.well
				h2 Recently added
				small Database add time
				hr
				div(ng-if="!rf")
					include loading
				ul.list-unstyled(ng-repeat='feed in rf')
					li 
						a(href="{{feed.url}}")
							.pull-left(style="width:32px;height:16px;margin-right:15px")
								img(ng-src="{{feed.favicon}}", ng-if="feed.favicon", style="height:100%")
								i.fa.fa-fw.fa-bookmark(ng-if="!feed.favicon")
							ng-Textoverflow {{feed.title}}
	.row
		.col-xs-12
			h2 Most recent articles
			small Database add time
			hr
			div(ng-if="!rp")
				include loading
			div(ng-repeat='post in rp')
				include post-minimal