.row
	.col-xs-6
		h2 Recommended
		hr
		include loading
	.col-xs-6
		h2 Recently added
		hr
		div(ng-if="!recent")
			include loading
		ul(ng-repeat='feed in recent')
			li 
				a(href="{{feed.url}}") 
					img(src="{{feed.favicon}}", width="32", style="margin-right:15px")
					| {{feed.title}}
.row
	.col-xs-12
		h2 Popular
		hr
		include loading
.row
	.col-xs-12
		h2 Recent
		hr
		include loading