.row.article-header(ng-class="{read:isRead(post)}")
	.col-xs-8
		p
			a(href="#/subscription/feed/{{post.origin.url}}") 
				span.label.label-primary {{post.origin.title}}
			| &nbsp;
			a(href='{{post.alternate.href}}',target='_blank') {{post.title}}
		span(ng-if='post.author') &nbsp;by {{post.author}}
	.col-xs-4
		p(style='text-align:right') {{post.published}}
.row
	.col-xs-12
		.line-separator
		.row
			.col-xs-1
				.btn-group-vertical
					button.btn(type="button",ng-click="toggle(post)")
						i.fa.fa-fw.fa-chevron-up
					button.visible-lg.btn.btn-default(ng-click="toggleRead(post)")
						i.fa.fa-fw(ng-class="isRead(post) ? 'fa-eye-slash' : 'fa-eye'")
					button.btn(type="button") 
						i.fa.fa-fw.fa-twitter
					button.btn(type="button") 
						i.fa.fa-fw.fa-facebook
					button.btn(type="button") 
						i.fa.fa-fw.fa-envelope
			.col-xs-11
				p.article-content(ng-bind-html="post.content.content")
		.line-separator