.container-fluid
	.row
		.col-md-12.col-lg-6
			.page-header
				h1 
					i.fa.fa-thumbs-up.fa-fw
					| &nbsp;Recommended
			div(ng-if="!pf")
				include ../elements/loading
			ul.list-unstyled(ng-repeat='feed in pf')
				include ../elements/listfeedlink
		.col-md-12.col-lg-6
			.page-header
				h1 
					i.fa.fa-line-chart.fa-fw
					| &nbsp;Recently added
			div(ng-if="!lf")
				include ../elements/loading
			ul.list-unstyled(ng-repeat='feed in lf')
				include ../elements/listfeedlink
	.row
		.col-xs-12
			.page-header
				h1
					i.fa.fa-clock-o.fa-fw
					| Most recent articles&nbsp;
			div(ng-if="!rp")
				include ../elements/loading
			div(ng-repeat='item in rp', ng-include="'views/templates/post-compact'")