.container-fluid(infinite-scroll='loadMore()',infinite-scroll-distance='2')
	.row(ng-if="stream")
		.col-xs-12
			.card
				.card-header Information
				.card-block
					table.table
						tbody
							tr.no-border
								td URL
								td
									a(href="{{stream.feedURL}}", target="_blank", ng-tt-max-font=24) {{stream.feedURL}}
								td Article count
								td {{stream.items.length}}
							tr
								td Creation
								td {{stream.creation}}
								td Updated
								td {{stream.updated}}
	div(ng-repeat='item in stream.items', ng-include='item.template')
	.row(ng-if="stream.items.length <= 0")
		.col-xs-12
			h1 Feed/stream doesn't contain any articles!
	.row
		.col-xs-12
			.card.card-inverse.card-primary.text-xs-center(ng-if="eof")
				.card-block
					blockquote.card-blockquote
						p End of {{stream.type}} reached!
			div(ng-if="!eof")
				include ../elements/loading