.container-fluid
	.row(ng-if="false")
		.col-xs-12
			table.table.shadow-z-1(ng-if="stream !== undefined")
				thead
					tr
						th(style='width:30%') Title
						th(style='width:70%') Values
				tbody
					tr
						td URL
						td
							a(href="{{stream.feedURL}}", target="_blank")
								.text-left(ng-textfit='', style="height:21px") {{stream.feedURL}}
					tr
						td Creation
						td {{stream.creation}}
					tr
						td Updated
						td {{stream.updated}}
					tr
						td Visible articles
						td {{stream.items.length}}
	div(infinite-scroll='loadMore()',infinite-scroll-distance='2')
		.row(ng-repeat='item in stream.items', ng-include='item.template')
	.row(ng-if="stream.items.length <= 0")
		.col-xs-12
			h1 Feed/stream doesn't contain any articles!
	.row
		.col-xs-12
			h1(ng-if="eof") End of feed/stream reached!
			div(ng-if="!eof")
				include ../elements/loading