.container-fluid
	.row(ng-if="false")
		.col-xs-12
			table.table.shadow-z-1(ng-if="stream !== undefined")
				thead
					tr
						th(style='width:30%') Title
						th(style='width:70%') Values
				tbody
					tr
						td URL
						td
							a(href="{{stream.feedURL}}", target="_blank")
								.text-left(ng-textfit='', style="height:21px") {{stream.feedURL}}
					tr
						td Creation
						td {{stream.creation}}
					tr
						td Updated
						td {{stream.updated}}
					tr
						td Visible articles
						td {{stream.items.length}}
	.row(infinite-scroll='loadMore()',infinite-scroll-distance='2')
		div(ng-repeat='post in stream.items',ng-include='post.template')
	.row(ng-if="stream.items.length <= 0")
		.col-xs-12
			.well
				h1 Feed/stream doesn't contain any articles!
	.row
		.col-xs-12
			.well(ng-if="eof")
				h1 End of feed/stream reached!
			.well(ng-if="!eof")
				include ../elements/loading