.container-fluid
	.row(ng-if="false")
		.col-xs-12
			table.table.shadow-z-1(ng-if="stream !== undefined")
				thead
					tr
						th(style='width:30%') Title
						th(style='width:70%') Values
				tbody
					tr
						td URL
						td
							a(href="{{stream.feedURL}}", target="_blank")
								.text-left(ng-textfit='', style="height:21px") {{stream.feedURL}}
					tr
						td Creation
						td {{stream.creation}}
					tr
						td Updated
						td {{stream.updated}}
					tr
						td Visible articles
						td {{stream.items.length}}
	div(infinite-scroll='loadMore()',infinite-scroll-distance='2')
		//- Subdivided the stream into groups
		.row(ng-if='groups.length', ng-repeat='row in groups')
			div(ng-repeat='col in row')
				//- List into a panel
				.panel-post(ng-if="col.template === 'views/templates/post-compact'", ng-class='col.class')
					.panel.panel-default
						.panel-body
							div(ng-repeat='post in col.items', ng-include='col.template')
				//- All other tile based templates
				div(ng-if="col.template !== 'views/templates/post-compact'", ng-repeat='post in col.items', ng-include='col.template', ng-class='col.class')
		//- Only when there is a stream
		.row(ng-if='!groups.length', ng-repeat='post in stream.items', ng-include='post.template')
	.row(ng-if="stream.items.length <= 0")
		.col-xs-12
			.well
				h1 Feed/stream doesn't contain any articles!
	.row
		.col-xs-12
			.well(ng-if="eof")
				h1 End of feed/stream reached!
			.well(ng-if="!eof")
				include ../elements/loading