.container-fluid
	.row
		.col-xs-12
			ol.breadcrumb
				li
					a(href="{{post.origin.url}}")
						i.fa.fa-angle-double-left.fa-fw
						| &nbsp;{{post.origin.title}}
	.row
		.col-xs-12
			a(href="{{post.alternate.href}}", target="_blank")
				div(ng-textfit='', ng-tt-min-font=24, style='height:64px') {{post.title}}
			p
				img(ng-if="post.origin.favicon",src="{{post.origin.favicon}}",height="24px",width="24px")
				| {{post.author}}
				| {{post.formatted}}
			hr
	.row
		.col-xs-12
			.panel-post(ng-if='post.content.images.other.length')
				.wrapper
					.panel-image
						img(holderjs='',data-layzr="{{post.content.images.other[0].url}}")
			.embed-responsive.embed-responsive-16by9(ng-if='post.content.videos.length')
				iframe.embed-responsive-item(src="{{post.content.videos[0]}}",allowfullscreen)
			p(ng-bind-html="post.content.content",flowtype='',min-font=16,max-font=28,minimum=320)