.container-fluid
	.row
		.col-xs-12
			ol.breadcrumb
				li
					a(href="#") {{post.origin.title}}
				li.active
					a(href="#") {{post.title}}
	.row
		include ../templates/post-compact
	.row
		.col-xs-12
			.text-center(style='overflow:hidden')
				img(ng-if='post.content.images.other.length',holderjs='{"height":"100%"}',data-layzr="{{post.content.images.other[0].url}}")
				img(ng-if="!post.content.images.other.length",holderjs='')
	.row
		.col-xs-12
			p(ng-bind-html="post.content.content")